<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--客户映射 指定到dao接口 -->
<mapper namespace="com.deepexi.content.mapper.PopupManageMapper">

    <sql id="Base_Column_List">
      id,      name,      details,      status,      img_url,      member_type,      member_group_id,      popup_type,      page_id,      page_name,      belong_application,      trigger_event,      tenant_code,      created_at,      created_by,      updated_at,      updated_by,      version,      dr    </sql>
    <select id="findList" resultType="com.deepexi.content.domain.eo.PopupManage">
        SELECT <include refid="Base_Column_List"/> FROM coc_popup_manage
        WHERE dr=0
        AND tenant_code = #{tenantId}
        ORDER BY created_at DESC
    </select>
    <select id="getByName" resultType="com.deepexi.content.domain.eo.PopupManage">
        SELECT <include refid="Base_Column_List"/> FROM coc_popup_manage
        WHERE dr=0
        AND name = #{name}
        AND tenant_code = #{tenantId}
        limit 1
    </select>
    <select id="listByQuery" resultType="com.deepexi.content.domain.eo.PopupManage">
        SELECT <include refid="Base_Column_List"/> FROM coc_popup_manage
        WHERE dr=0 AND status = 0
        AND page_id = #{eo.pageId}
        AND tenant_code = #{tenantId}
    </select>

    <update id="deleteByIds">
        UPDATE coc_popup_manage set dr=1 where id in
        <foreach collection="pks" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateStatus">
        UPDATE coc_popup_manage set status=#{statusEnum.value} where id = #{id}
    </update>

</mapper>